body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.panel {
  margin: 10px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

button {
  background: #ff4081;
  border: none;
  color: white;
  cursor: pointer;
}

#juego {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jugador {
  border: 1px solid #444;
  padding: 10px;
  margin: 5px;
  width: 140px;
}

.activo {
  border: 2px solid #00e5ff;
}

.ganador {
  border: 2px solid gold;
  opacity: 0.6;
}

/* RULETA */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  align-items: center;
  justify-content: center;
}

.ruleta-box {
  background: #222;
  padding: 30px;
  border-radius: 10px;
  font-size: 28px;
}

.girar {
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
